#main {
  font-family: monospace;
  margin: 10px auto 0;
  width: 800px;
}

#main > .content {
  border: 1px solid #191970;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
}

#main > .content > header {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

#main > .content .sidebar {
  background-color: #f984e5;
  float: left;
  padding: 5px;
  width: 190px;
}

#main > .content .sidebar input {
  border: 1px solid #002fa7;
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
  width: 100%;
}

#main > .content .sidebar ul.operations {
  margin: 0;
  padding: 0;
}

#main > .content .sidebar ul.operations li {
  background-color: #ff91af;
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}

#main > .content .sidebar ul.operations li a {
  color: #002fa7;
}

#main > .content table {
  background-color: #556b2f;
  border-collapse: separate;
  border-spacing: 5px;
  float: right;
  padding: 5px;
  position: relative;
  width: 570px;
}

#main > .content table thead tr th {
  color: white;
  text-align: left;
}

#main > .content table tbody tr td {
  background-color: #9dcc7a;
}
